body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin-inline: auto;
    padding: 0 10px;
    font-size: min(16px, 4vw);

    /* font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #f4f4f4; */
}

a:link {
    color: lightblue;
}

a:visited {
    color: pink;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

header {
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 0 10px;
}

footer {
    margin-top: 150px;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 10px;
    gap: 20px;
    /* row-gap: 20px; */
}

aside a {
    padding: 0 10px;
}

.container {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    background: #000;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.error {
    color: #333;
    text-align: center;
    padding: 2rem;
}