body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: min(16px, 4vw);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

header, footer {
    /* max-width: 800px; */
    width: 100%;
    margin: 50px 0;
}

header *, footer * {
    margin: 0 40px
} 

main {
    width: 100%;
}

a:link {
    color: lightblue;
}

a:visited {
    color: pink;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 10px;
    gap: 20px;
    /* row-gap: 20px; */
}

aside a {
    padding: 0 10px;
}

.container {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: #000;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.error {
    color: #333;
    text-align: center;
    padding: 2rem;
}